{% extends "layout.html" %}
{% block title %}
Admin Page
{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.iiitbh.ac.in/">IIIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      {% if leaveapplied == 1 %}
        <div class="blink"><li><a href = "{{url_for('rejoin')}}">Rejoin</a></li></div>
      {% else %}
        <li><a href = "{{url_for('leave')}}">Apply for leave</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href"#"><span class="glyphicon glyphicon-user"></span>{{userdetail.name}}</a></li>
      <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
 {% for list in lists %}
 <div class="fac_list"><p>
   <h3><i class="far fa-user"></i> {{list.id}}  </h3>
   <br>Leave From:{{list.leave_from}} Upto:{{list.leave_upto}}
   <br><button class="btn" onclick="approve({{list.id}})">Approve</button>  <button class="btn">Disapprove</button>
</p></div>
 {% endfor %}
 <div id="confirmation"></div>
 {% endblock %}
